<div class="app-container">
  <div nz-row [nzGutter]="[16, 16]" nzJustify="center">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="20" [nzLg]="16">
      <nz-card [nzTitle]="cardTitle" [nzBordered]="true">
        <ng-template #cardTitle>
          <div class="card-title">
            <i nz-icon nzType="picture" nzTheme="outline"></i>
            <span>{{ title }}</span>
          </div>
        </ng-template>
        
        <div class="demo-container">
          <div class="uploader-section">
            <h3 nz-typography>Select an image to crop</h3>
            <p nz-typography nzType="secondary">Use the selector below to load a photo that you want to edit</p>
            <app-custom-image-cropper (croppedImage)="onCroppedImage($event)"></app-custom-image-cropper>
          </div>
          
          <nz-divider *ngIf="croppedImage" nzText="Result" nzOrientation="center"></nz-divider>
          
          <div *ngIf="croppedImage" class="result-section">
            <div nz-row nzJustify="center">
              <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="10" [nzLg]="8">
                <nz-card nzTitle="cropped image" [nzBordered]="true">
                  <div class="result-image">
                    <img [src]="croppedImage" alt="cropped image" />
                  </div>
                </nz-card>
              </div>
            </div>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>